#################
## Windows detritus
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#################
## Files
#################
Node/config.js
npm-debug.log

#################
## Directories
#################

Node/bower_components/
Node/node_modules/
Node/.idea/
